body {
  font-family: "Maitree", serif;
  font-weight: 500;
  background-color: rgba(255, 236, 214, 0.4);
}
.main {
  width: 600px;
  margin-top: 20px;
  background-image: linear-gradient(
      rgba(150, 220, 241, 0.5),
      rgba(32, 160, 245, 0.25)
    ),
    url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/024/059/original/background-2.jpg?1641145046);
  background-size: cover;
  border-radius: 0.75rem;
}

.city {
  margin: 12px 0 0 30px;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
  font-size: 30px;
  font-style: italic;
  text-transform: capitalize;
}
.full_date,
.description_minmax {
  margin-left: 18px;
}
.full_date {
  font-size: 19px;
}
.icon_temp_now {
  margin-top: 15px;
}
.search {
  margin-top: 18px;
}
.icon1,
.icon2,
.icon3,
.icon4,
.icon5 {
  margin: -9px 0;
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#search-city-form {
  float: right;
}
#city-input {
  background-color: #ffedd8;
  border-radius: 7px;
  width: 140px;
}
#formSubmit {
  padding: 1px 9.5px;
}

#formSubmit,
#currentLocation {
  background-color: #ffedd8;
  border-radius: 7px;
  width: 70px;
}
#currentLocation {
  font-size: 16px;
  margin: 0px 0 0px 18px;
  float: right;
}
#today-day,
#today-date,
#today-time {
  padding-right: 10px;
}
.description {
  padding: 0;
}
#temp_now {
  padding-left: 16px;
  padding-right: 0;
  font-size: 30px;
  margin-top: 15px;
  text-align: center;
}
#humidity,
#windSpeed,
#todayDescription {
  font-size: 15px;
}

.todayMinMax {
  font-size: 18px;
  text-align: right;
  margin-top: -5px;
}
.paremeters,
.tempUnits {
  padding: 25px 0 0 0;
}
.tempScale {
  padding: 32px 0 0 0;
}
.tempUnits {
  text-align: right;
}

.windspeed,
.sunrise,
.sunset {
  margin: 0;
  padding: 0;
}
#humidity,
#windSpeed,
#sunrise,
#sunset {
  padding: 0 20px 0 0;
  text-align: right;
}

.iconRow {
  margin: 0 20px;
  padding: 0;
}
.descriptionRow {
  margin: -10px 0 0 0;
  padding: 0;
}

.weather-icon {
  display: block;
  margin: 0 auto;
}
#todayDescription {
  text-align: center;
  text-transform: capitalize;
  padding: 0;
}

.next5days {
  margin-top: 10px;
  text-align: center;
  padding-bottom: 10px;
}
.MinMax1,
.MinMax2,
.MinMax3,
.MinMax4,
.MinMax5 {
  display: block;
}
.MinMax1,
.MinMax2,
.MinMax3,
.MinMax4,
.MinMax5,
#day1,
#day2,
#day3,
#day4,
#day5 {
  font-size: 13px;
}
#day1,
#day2,
#day3,
#day4,
#day5 {
  padding: 0;
  font-weight: 600;
  margin: 0 12px;
}
#celsius,
#fahrenheit {
  font-size: 20px;
  text-align: left;
}
#celsius {
  padding-left: 25px;
  color: #2f3c4f;
}

#fahrenheit {
  color: #506f86;
}

#celsius:hover,
#fahrenheit:hover {
  cursor: pointer;
}
.opnSrc {
  font-family: "Luxurious Roman", cursive;
  text-align: center;
  position: relative;
  padding-right: 290px;
}
#linkToGit {
  padding-right: 5px;
}
