body {
  font-family: "Maitree", serif;
  font-weight: 500;
}
.container {
  width: 38rem;
  margin-top: 20px;
  background-image: linear-gradient(
      rgba(150, 220, 241, 0.5),
      rgba(32, 160, 245, 0.5)
    ),
    url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/024/059/original/background-2.jpg?1641145046);
  background-size: cover;
  border-radius: 0.75rem;
}

.city {
  margin: 12px 60px 0 30px;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
  font-size: 30px;
  font-style: italic;
}
.full_date,
.description_minmax {
  margin-left: 18px;
}
.full_date {
  font-size: 19px;
}
.icon_temp_now {
  font-size: 30px;
  margin-top: 15px;
  text-align: center;
}
.search {
  margin-top: 18px;
}
#formSubmit {
  padding: 1px 9.5px;
}

#formSubmit,
#city-input,
#currentLocation {
  background-color: #ffedd8;
  border-radius: 7px;
}
#currentLocation {
  font-size: 16px;
  margin: 0px 0 0px 18px;
}

#humidity,
#windSpeed,
#todayDescription,
.todayMinMax {
  font-size: 15px;
}
#humidity {
  padding: 25px 40px 0 0;
  text-align: right;
}

.windspeed,
.sunrise,
.sunset {
  margin: 0;
  padding: 0;
}

#windSpeed,
#sunrise,
#sunset {
  padding: 0 40px 0 0;
  text-align: right;
}

#todayDescription,
.weather-icon {
  padding: 0;
}
.todayMinMax {
  text-align: left;
}
.next5days {
  margin-top: 25px;
  text-align: center;
  padding-bottom: 10px;
}
.temp_minmax {
  display: block;
}

#celsius,
#fahrenheit {
  font-size: 20px;
}

#celsius:hover,
#fahrenheit:hover {
  cursor: pointer;
}
.opnSrc {
  text-align: center;
  font-family: "Luxurious Roman", cursive;
  position: relative;
  margin-right: 290px;
}
#linkToGit {
  padding-right: 5px;
}
